@{
    ViewBag.Title = "Səhifə 404";
}
<div class="error-main">
    <h3><i class="fa fa-exclamation-triangle"></i><span>404</span></h3>
    <div class="col-xs-7 error-main-left">
        <span>Diqqət!</span>
        <p>Axtardığınız Səhifə Tapılmadı.</p>
        <div class="error-btn">
            <a href="~/Home/Index">Geri?</a>
        </div>
    </div>
    <div class="col-xs-5 error-main-right">
        <img src="~/Images/7.png" alt=" " class="img-responsive">
    </div>
    <div class="clearfix"></div>
</div>
